.weather-app {
  max-width: 600px;
  background-image: url(https://images.pexels.com/photos/2440299/pexels-photo-2440299.jpeg?auto=compress&cs=tinysrgb&w=600);
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 50px auto 0px;
  border-radius: 10px;
  padding: 10px 20px;
}
.display {
  display: flex;
}
.displayOne {
  flex: 1;
  position: relative;
  left: -40px;
  padding: 5px;
}
.displayTwo {
  background-color: rgb(0, 0, 0, 0.54);
  border: 1px;
  border-radius: 10px;
  width: fit-content;
  opacity: 0.5;
}
.content {
  text-align: center;
}

.button {
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: #000;
}
.degrees {
  font-size: 16px;
  position: relative;
  top: -15px;
  font-weight: 600;
}
.minTemp,
#one {
  opacity: 0.6;
  color: #fff;
}
.maxTemp {
  font-size: 15px;
  font-weight: 700;
}
#border {
  background-color: rgb(0, 0, 0, 0.45);
  border-radius: 10px;
  border: 1px;
  margin: 10px auto;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  width: fit-content;
}
#border:hover {
  box-shadow: inset rgba(39, 40, 42, 0.5) 0 0 1em;
  background-color: rgb(255, 255, 255, 0.3);
  color: #000;
}

#city {
  text-transform: capitalize;
}
#farenheit,
#celcius {
  text-decoration: none;
  color: #fff;
  cursor: default;
}

body {
  background-image: url(https://images.pexels.com/photos/2440299/pexels-photo-2440299.jpeg?auto=compress&cs=tinysrgb&w=600);
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
h5,
li {
  list-style-type: none;
}
h2 {
  margin-bottom: 0;
}
img {
  width: 50px;
}
